<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.indooratlas.android.sdk.examples" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- For geofence only -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/admin"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAcIYWP9YyRxs7VrYBBPQxfPeydUzYzMBM" />
        <meta-data
            android:name="com.indooratlas.android.sdk.API_KEY"
            android:value="0e03935f-bf22-41f6-846f-3f4ad456dfe9" />
        <meta-data
            android:name="com.indooratlas.android.sdk.API_SECRET"
            android:value="WSnMpKBb9pE2Ppe0PpxEWvVclo8MEvGOv8bKPyyt2IDYYf/AeIEKFOvJ4eT+clMTwFRIqyjce0/JVH0BnIy3mnwh63FNr5EuvVc0NnsWFtWnBiy3Eu7sxekPc/hWDw==" />

        <activity
            android:name=".ListExamplesActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name=".mapsoverlay.MapsOverlayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".geofence.GeofenceMapsOverlayActivity"
            android:parentActivityName=".ListExamplesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".geofence.EditActivity"
            android:label="edit pop up"
            android:parentActivityName=".geofence.GeofenceMapsOverlayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="Login page for admin"
            android:theme="@style/Theme.AppCompat.NoActionBar" >

        </activity>
        <activity
            android:name=".EditWMSG"
            android:label="Login page for admin"
            android:theme="@style/Theme.AppCompat.NoActionBar" >

        </activity>
        <activity
            android:name=".geofence.EditAndDelete"
            android:label="Login page for admin"
            android:theme="@style/Theme.AppCompat.NoActionBar" >

        </activity>
<activity android:name=".AddWarningMsg"/>
        <activity android:name=".geofence.EditActivity2"
            android:parentActivityName=".AddWarningMsg"
            />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.indooratlas.android.sdk.examples.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>